:root {
    --color_dark_1: #1d191e;
    --color_dark_2: #1f2138;
    --color_dark_3: #101125;
    --color_light_1: #a4967a;
    --color_light_2: #bfb39b;
    --panel-border-radius: 10px;
}

body {background-color: #101125;}

.banner-header {color: var(--color_light_2);}
.banner-blurb {color: var(--color_light_1);}
.section-header {
    color: var(--color_dark_1);
    text-decoration: underline
}

/* Date range picker */

.DateRangePickerInput {
    background-color: #ffffff;
}

.DateInput {
    display: inline;
    background-color: #ffffff;
}

.DateInput_input {
    font-size: 14px;
    line-height: 15px;
    /* width: 80%; */
    background-color: #ffffff;
}

/* Customize the legend and color bar appearance. */
.bg {
    rx: var(--panel-border-radius);
    ry: var(--panel-border-radius);
    fill-opacity: 0.80 !important;
}

.cbbg {
    rx: var(--panel-border-radius);
    ry: var(--panel-border-radius);
    fill-opacity: 0.80 !important;
}


#banner {
    height: 100px;
    background-color: var(--color_dark_2);
}
#query-section {
    background-color: var(--color_light_2);
    opacity: 0.75;
    z-index: 1;
    border-radius: var(--panel-border-radius);
}

#report-and-download-section {
    background-color: var(--color_light_2);
    opacity: 0.75;
    z-index: 1;
    border-radius: var(--panel-border-radius);
}


#map-section {
    /* border-radius: var(--panel-border-radius); */
}


#plotting-section {
    /* border-radius: var(--panel-border-radius); */
}
